.mainPage {
     margin-top: 200px;
     margin-left: 250px;
     margin-right: 150px;
}
.imageHolder{
     width: 100%;
     margin: 0 auto;
     text-align: center;

}
img {
     width: 250px;
     height: 250px;
}
.aboutText {
     padding: 15px;
}
p {
     font-family: "Inconsolata", serif;
     font-size: 16px;
     line-height: 35px;
     width: 80%;
     margin: 0 auto;
}
h2 {
     font-family: "Inconsolata", serif;
     width: 80%;
     margin: 0 auto;
}

/* === MEDIA QUERIES == */
@media screen and (max-width: 414px) {
     .mainPage {
          margin: 0 auto;
          width: 95%;
     }

     .mobileNav {
          clear: both;
          margin-top: 150px;
          margin-bottom: 25px;

     }
     .mobileNav {
          width: 100%;
     }
     p {
          font-size: 20px;
     }
     h2 {
          font-size: 28px;
     }

}
