
.willkommen {
     background-image: url("images/unity3DPic.png");
     background-position:center;
     background-repeat:no-repeat;
     background-size:cover;
     background-color: #bca4ba;
}
.rollie {
     background-image: url("images/chromo_pic.png");
     background-position:center;
     background-repeat:no-repeat;
     background-size:cover;
     background-color: #bca4ba;
     color: black;
}

.xintiandi {
     background-image: url("images/xtd_env.png");
     background-position:center;
     background-repeat:no-repeat;
     background-size:cover;
     background-color: #bca4ba;
}

.viewsBerlin {
     background-image: url("images/trashPile_1.png");
     background-position:center;
     background-repeat:no-repeat;
     background-size:cover;
     background-color: #bca4ba;
}

.architecture {
     background-image: url("images/photography_1.JPG");
     background-position:center;
     background-repeat:no-repeat;
     background-size:cover;
     background-color: #bca4ba;
}

.lastLook {
     background-image: url("images/oll_3.png");
     background-position:center;
     background-repeat:no-repeat;
     background-size:cover;
     background-color: #bca4ba;
}

.photogram {
     background-image: url("images/wall_1.JPG");
     background-position:center;
     background-repeat:no-repeat;
     background-size:cover;
     background-color: #bca4ba;
}

.textHolder {
     padding: 20px;
     margin: 25px;
     width: 75%;
     text-align: center;
}

.textHolder h1 {
     font-family: "Major Mono Display";
     width: 75%;
     display: block;
     margin: 0 auto;
     margin-bottom: 40px;
     padding: 10px;
     font-size: 42px;
     background-color: white;
     color: #ffa477;
}

.textHolder p {
     font-family: "Inconsolata", serif;
     font-size: 24px;
     line-height: 40px;
     text-align: left;
}
/* === MEDIA QUERIES === */
@media screen and (max-width: 414px) {
     .titleText {
          width: 100%;
     }
     .textHolder{
          width: 100%;
     }
     h1 {
          font-size: 36px;
     }
     .projectBlock h3 {
          font-size: 24px;
     }
     p {
          font-size: 18px;
     }
}
