
.projectImage {
     width: 75%;
     margin-bottom: 20px;
     border: 5px solid black;
}
.projectVideo {
     width: 75%;
     margin-bottom: 20px;
     border: 5px solid black;
}
p {
     width: 50%;
     margin: 0 auto;
     font-family: "Inconsolata", serif;
     text-align: left;

     padding: 50px 25%;
}
.textHolder {
     width: 80%;
     padding-left: 10%;
     padding-top: 150px;
     margin: 0 auto;
     text-align: center;
}
.titleText {
     width: 100%;
     text-align: center;
}
.subTitle {
     width: 100%;
     text-align: center;
     font-family: "Inconsolata", serif;
}
.container {
     padding-left: 100px;
}
.contianerElement {
     width: 80%;
     margin-left: 150px;
}
