
.willkommen {
     background-image: url("images/unity3DPic.png");
     background-position:center;
     background-repeat:no-repeat;
     background-size:cover;
     background-color: #bca4ba;
}
.rollie {
     background-image: url("images/chromo_pic.png");
     background-position:center;
     background-repeat:no-repeat;
     background-size:cover;
     background-color: #bca4ba;
     color: black;
}

.xintiandi {
     background-image: url("images/xtd_env.png");
     background-position:center;
     background-repeat:no-repeat;
     background-size:cover;
     background-color: #bca4ba;
}

.viewsBerlin {
     background-image: url("images/trashPile_1.png");
     background-position:center;
     background-repeat:no-repeat;
     background-size:cover;
     background-color: #bca4ba;
}

.architecture {
     background-image: url("images/photography_1.JPG");
     background-position:center;
     background-repeat:no-repeat;
     background-size:cover;
     background-color: #bca4ba;
}

.architecture h3 {
     padding-top: 80px;
}

.photogram {
     background-image: url("images/trashPile_1.png");
     background-position:center;
     background-repeat:no-repeat;
     background-size:cover;
     background-color: #bca4ba;
}

/* === MEDIA QUERIES === */
