
.projectImage {
     width: 100%;
     margin-bottom: 20px;

}

.projectVideo {
     width: 75%;
     margin-bottom: 20px;
     border: 5px solid black;
}

p {
     width: 100%;
     line-height: 40px;
     margin: 0 auto;
     display: block;
     font-family: "Inconsolata", serif;
     text-align: left;
     font-size: 24px;
}

.textHolder {
     width: 75%;
     padding-top: 150px;
     margin: 0 auto;
     text-align: center;
     padding-left: 150px;
}

.titleText {
     width: 100%;
     background-color: white;
     color: #ffa477;
     font-size: 42px;
     padding: 30px 10px;
     margin: 40px 0px;
     text-align: center;
}

.subTitle {
     width: 100%;
     font-size: 30px;
     padding: 20px 10px;
     text-align: center;
     font-family: "Inconsolata", serif;
}

.description {
     font-size: 24px;
}

.container {
     width: 80%;
     text-align: center;
     padding-left: 150px;
     margin: 0 auto;
}

.containerElement {
     width: 100%;
}

.textLink {
     font-family: "Major Mono Display", sans-serif;
     text-align: center;
     display: block;
     width: 80%;
     font-size: 64px;
     color: white;
     background-color: #ffa477;
     padding: 30px 20px;
     margin: 0 auto;
     margin-top: 40px;
     margin-bottom: 40px;
     text-decoration: none;
}

.textLink:hover {
     text-decoration: underline;
     background-color: white;
     color: #ffa477;
}
/*===MEDIA QUERIES===*/
@media screen and (max-width: 414px) {
     .textHolder {
          width: 95%;
          margin: 0 auto;
          padding: 0px;
     }
     .titleText {
          width: 95%;
          font-size: 36px;
     }
     .container {
          width: 95%;
          margin: 0 auto;
          padding: 0px;
     }
     .projectVideo {
          width: 95%;
     }
     .subTitle {
          font-size: 22px;
     }
     h1 {
          font-size: 36px;
     }
     .contentHolder p {
          font-size: 18px;
          width: 90%;
          margin: 0 auto;
     }
     p {
          font-size: 18px;
          width: 90%;
          margin: 0 auto;
          line-height: 30px;
          margin-bottom: 10px;
     }
}
