.projectContainer {
     padding-top: 125px;
     text-align: center;
     width: 30%;
     margin: 0 auto;
     display: flex;
     flex-flow: row wrap;
     justify-content: flex-end;
}
.projectItem{
     background-image: url("images/unity3DPic.png");
     background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
     background-color: #bca4ba;
     color: white;
     padding: 20px;
     margin: 25px;
     width: 75%;
     height: 400px;
}
.projectItem h3 {
     font-size: 48px;
}
